<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783121386822-vh7ctdep0r6ae6ssq0g1ip5vq40t35lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783121386822-vh7ctdep0r6ae6ssq0g1ip5vq40t35lk</string>
	<key>API_KEY</key>
	<string>AIzaSyCuBgm_6F8CVsnbRQjLrnz8ngnxhnmz05Y</string>
	<key>GCM_SENDER_ID</key>
	<string>783121386822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.include.lostandfound</string>
	<key>PROJECT_ID</key>
	<string>lostandfound-1e18b</string>
	<key>STORAGE_BUCKET</key>
	<string>lostandfound-1e18b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783121386822:ios:be5712eac247f801196947</string>
</dict>
</plist>